#cards {
  // background-color: aqua;
  //   background-color: rgba(240, 17, 210, 0.2);
  .content {
    display: flex;
    column-gap: 20px;
    padding-top: 40px;
    h3 {
      color: rgb(82, 58, 62);
    
    
      cursor: pointer;
    }
  }
  .cards {
    .card {
      padding: 20px;
      .icons-cards {
        display: flex;
        column-gap: 20px;
        .fa-heart {
          &:hover {
            color: red;
          }
        }
        .fa-basket-shopping {
          &:hover {
            color: green;
          }
        }
        i {
          font-size: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
#goback{
  padding: 15px 25px;
  background-color: rgb(187, 85, 99);
  border-radius: 8px;
  color: white;
  font-size: 18px;
  &:hover{
    background-color:rgb(187, 85, 99,0.5) ;
  }
}